extends ./layouts/main.pug

block content
    input.write#writeBtn-js(type="button" value="글 작성하기" onclick="javascripte:wirteBtnHandler()")
    each post in postList
        .postBox
            .postBox__up
                .postBox__up__title= post.title
                .postBox__up__date= post.date
            .postBox__down= post.desc
            .postBox__footer 
                form(action="/delete" method="post")
                    input(type="hidden" name="id" value=`${post.id}`)
                    input.footer__btn(type="button" value=`삭제` onclick=`javascript:delBtnHandler(this)`)
    form(action="/write", method="get", id="writeFrm-js")