.mini {
  margin-top: 20px;
  margin-left: 5px;
}

.mini .mini__thead .thead__tr {
  font-size: 20px;
  border-bottom: 1px solid #0b0b0b;
  margin-bottom: 5px;
}

.mini .mini__thead .thead__tr .tr__th {
  padding: 5px 15px;
  margin: 5px 5px;
}

.mini .mini__thead .thead__tr .tr__th:first-child {
  padding: 5px 50px;
}

.mini .mini__tbody tr {
  cursor: pointer;
}

.mini .mini__tbody tr:nth-child(even) {
  background-color: rgb(98, 171, 245);
}

.mini .mini__tbody tr:hover {
  background-color: rgb(67, 149, 232);
}
